<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/justified-nav.css">

  
</head>
<body>

{% include "navbar.html" %}

 <div class ="container">
   <div class="row">
     <div class="col-lg-2">
       <h2>About Us</h2>
       <p>Welcome to YUGO!</p>
     </div>
       <p>YUGO makes your life just more fantastic by letting you get to where you need to go.</p>
       <br>
       <p> We are proud to help you search your way around-- whether it be the nearest resturants to spas, you are able to find where you need to go, and how to get there. </p>
    
     </div>
   </div>
 </div>
</body>
