<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/justified-nav.css">

  
</head>
<body>
 {% include "navbar.html" %}

   <div class="jumbotron">
        <h1>Welcome to YUGO!</h1>
        <p class="lead">Enter your location and search below!</p>
       	<form method=POST>
	  <div class=description>Enter your location:</div>
	  <input type=text class="form-control" name=location placeholder="Enter the new location here">
	  <div class=description>Enter your search:</div>
	  <input type=text class="form-control" name=search placeholder="Enter your search here">
	  <br>
	  <input type=submit class="btn btn-lgn btn-success">
	</form>
   </div>
  
  
</body>

