<!DOCTYPE html>
<html>
	<head>
		<title>Yugo</title>
		<link href = "css/bootstrap.min.css" rel = "stylesheet">
		<link href = "css/styles.css" rel = "stylesheet">
	</head>
		
	<body>	
		<h1> Get to where you need to go.</h1>
	#{% include "navbar.html" %}
	<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">
			<a href = "#" class = "navbar-brand"> Yugo </a>
			
			<button class = "navbar-toggle" data-toggle = "collapse" data target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			
				<div class = "collapse navbar-collapse navHeaderCollapse">
				
					<ul class = "nav navbar-nav navbar-right">
					
						<li><a href = "#" >Home</a></li>
						<li><a href = "#" >Map</a></li>
			
					</ul>
				</div>
		</div>
	</div>	
		
	</body>
	
	<script src = "http:////code.jquery.com/jquery-1.10.2.min.js/
	
</html>