<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/justified-nav.css">
  <link href="jumbotron-narrow.css" rel="stylesheet">
  
</head>
<body>

 {% include "navbar.html" %}

   <div class="jumbotron">
                <h1>Welcome to YUGO!</h1>
        <p class="lead">Proceed with your current location, or enter a new one below!</p>
        <p><a class="btn btn-lg btn-success" href="/main" role="button">Proceed</a></p>
        
        <br>
        <form role="form">
          <div class="form-group">
            <label for="newLocation">New Location</label>
            <input type="text" class="form-control" name="newLocation" placeholder="Enter the new location here">
          </div>
          <button type="submit" class="btn btn-lgn btn-success">Submit</button>
        </form>

   </div>
  
  
</body>
</html>
