<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/justified-nav.css">
  
</head>
<body>

  {% include "navbar.html" %}


 <div class="jumbotron">
            
        <form role="form">
          <div class="form-group">
            <label for="search">YUGO Search</label>
            <br>
            Search for Services around your area.
            <input type="text" class="form-control" name="find" placeholder="Search for Resturants, Services, Lounges, ect.">
          </div>
          <button type="submit" class="btn btn-lgn btn-success">Submit</button>
        </form>

   </div>
 
 
</body>
